.glyphicon.glyphicon-trash {
    font-size: 16px;
}
.glyphicon.glyphicon-edit {
    font-size: 16px;
}
.glyphicon.glyphicon-pencil{
    font-size: 16px;
}
button, input, optgroup, select, textarea{
	color: black !important;
}
custom-img-class {
	height: 40%;
}
.main-content-custom { 
	margin-right: 250px; 
	padding: 30px;
};
div.jtable-main-container> table.jtable > tbody > tr.jtable-data-row > td {
    padding: 4px;
    font-size: 15px !important;
    font-family: verdana !important;
}
.singout {
	margin-top: 15px;
	float: right;
	background-color: #fff;
	font-family: 'Rubik', sans-serif;
}